{% extends 'ivw/base.html' %}

{% block title %}Lista de Materiality Issues{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Materiality Issues List</h2><form method="get" action=".">
        <input type="text" name="q" placeholder="Buscar...">
        <button type="submit" class="btn btn-primary">Buscar</button>
    </form>
    

    <a href="{% url 'materiality_issue_create' %}" class="btn btn-primary mb-2">New Materiality Issue</a>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Materiality Issue Group</th>
                <th>Theme</th>
                <th>Criterion</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for issue in issues %}
            <tr>
                <td>{{ issue.materiality_issue_group }}</td>
                <td>{{ issue.theme }}</td>
                <td>{{ issue.criterion }}</td>
                <td>{{ issue.description }}</td>
                <td>
                    <a href="{% url 'materiality_issue_update' issue.pk %}" class="btn btn-warning btn-sm">Editar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
