<!-- ivw/templates/ivw/user_list.html -->
{% extends 'ivw/base.html' %}

{% block title %} Users List {% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>Users list</h2>
    <form method="get" action=".">
        <input type="text" name="q" placeholder="Search...">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    
    <a href="{% url 'user_create' %}" class="btn btn-primary mb-2">New User</a>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.telephone_number }}</td>
                <td>{{ user.company }}</td>
                <td>{{ user.active }}</td>
                <td>
                    <a href="{% url 'user_update' user.pk %}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
